<ul class="nav justify-content-center">
  <li class="nav-item">
    <%= form_with url: search_rooms_path, method: :get, local: true do |f| %>
      <%= f.text_field :name, class:"form-control" %>
      <%= f.submit "探す", class:"btn btn-primary"  %>
    <% end %>
  </li>
</ul>
